.game {

    align-items: flex-end;
    background: var(--col-beige-lighter) url('/assets/background.png');
    background-position: center bottom;
    display: flex;
    height: 40vh;
    justify-content: center;
    margin-bottom: -2rem;
    position: relative;
    width: 100%;
    z-index: -1;

    .game__wrapper {

        align-items: flex-end;
        display: flex;
        height: 80%;
        justify-content: center;
        margin-bottom: 2.5rem;
        width: 80%;
    }
}
