<section class="game">

  <div class="game__quote">
    <span class="game__quote__line">Javascript</span>
    <span class="game__quote__line">makes the</span>
    <span class="game__quote__line">site go round</span>
  </div>

  <div class="game__wrapper">

    <app-sprite
      [animation]="testPlayer"
      [controller]="player"
      (animationEnd)="animationDidEnd('player')">
    </app-sprite>
    
    <app-sprite
      [animation]="testEnemy"
      [controller]="enemy"
      (animationEnd)="animationDidEnd('enemy')">
    </app-sprite>

  </div>
</section>
