<section class="footer">
  <nav>
    <h3 class="footer__nav__title">
      <img class="footer__nav__title__icon" src="assets/gfx/logo_black_18_22.png" />
      MRvanderPants
    </h3>
    <div class="footer__wrapper">
      <div class="footer__nav">
        <h4 class="footer__nav__item__title">Pages</h4>
        <a class="footer__nav__item" href="/">Work</a>
        <a class="footer__nav__item" href="/resume">Resume</a>
        <a class="footer__nav__item" href="/contact">Contact</a>
      </div>
      <div class="footer__nav">
        <h4 class="footer__nav__item__title">Socials</h4>
        <a class="footer__nav__item"
          href="https://twitter.com/MRvanderPants"
          target="_blank">
          Twitter
        </a>
        <a class="footer__nav__item"
          href="https://www.linkedin.com/in/mrvanderpants/"
          target="_blank">
          LinkedIn
        </a>
      </div>
    </div>
  </nav>
  <span class="footer__title">Last updated July 2020</span>
</section>
