.healthbar {

    background-color: var(--col-grey-darker);
    border-radius: 0.25rem;
    height: 0.5rem;
    position: relative;
    overflow: hidden;
    top: -1rem;
    width: 5rem;

    -webkit-box-shadow: 0 0 1rem 0.25rem #00000030;
    -moz-box-shadow:    0 0 1rem 0.25rem #00000030;
    box-shadow:         0 0 1rem 0.25rem #00000030;

    .healthbar__fill {

        border-radius: 0.25rem;
        height: 100%;
        width: calc(100% + 0.5rem);
    }
}

.mirrored {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.green {
    background-color: var(--col-succes);
}

.yellow {
    background-color: var(--col-yellow);
}

.red {
    background-color: var(--col-danger);
}