.header {
    
    align-items: center;
    background-color: var(--col-yellow);
    display: flex;
    flex-wrap: wrap;
    min-height: auto;
    justify-content: center;
    padding: 0.5rem 0 0 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;

    -webkit-box-shadow: 0 -0.5rem 1.5rem 1.5rem #00000008;
    -moz-box-shadow:    0 -0.5rem 1.5rem 1.5rem #00000008;
    box-shadow:         0 -0.5rem 1.5rem 1.5rem #00000008;

    .header__title__wrapper {

        align-items: center;
        cursor: pointer;
        display: flex;

        .header__icon {
            padding-left: 2rem;

            img {
                height: 0.9rem;
            }
        }
        
        .header__title {
    
            color: var(--col-black);
            font-family: 'Montserrat', sans-serif;
            font-size: 1.1rem;
            font-weight: 100;
            padding: 0 2rem 0 0.5rem;
        }
    }
}

.header:after {
    
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;

    -webkit-box-shadow: 0 -0.5rem 0.5rem 0.5rem #00000025;
    -moz-box-shadow:    0 -0.5rem 0.5rem 0.5rem #00000025;
    box-shadow:         0 -0.5rem 0.5rem 0.5rem #00000025;
}

.header__nav {

    display: flex;
    justify-content: center;
    width: 100%;

    .header__nav__item {

        border-bottom: 0.25rem solid var(--col-yellow);
        color: var(--col-black);
        cursor: pointer;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        opacity: 0.6;
        padding: 0 1rem 0 1rem;
        position: relative;
        text-align: center;
        transition: opacity .2s;
        width: 33%;
    }

    .header__nav__item:hover {
        border-bottom: 0.25rem solid var(--col-black);
        color: var(--col-black);
        opacity: 1;
    }

    .active {
        border-bottom: none !important;
        opacity: 1;
    }

    .active:after {
        
        background-color: var(--col-yellow);
        border-radius: 0 0 0.25rem 0.25rem;
        bottom: -0.5rem;
        box-shadow: inset 0 -3px 0 rgba(168, 184, 32, 0.15);
        content: '';
        display: block;
        height: 0.5rem;
        font-size: 0.9rem;
        left: 0;
        position: absolute;
        right: 0;
        z-index: 1;
    }
}

.header__margin {
    height: 3.5rem;
}

@media screen and (min-width: 640px) {

    .header {
        justify-content: space-around;
        width: 100%;
    }

    .header__title__wrapper {
        padding-bottom: 0.5rem;
        width: 50%;
    }

    .header__nav {

        width: 33%;

        .header__nav__item {
            
            font-size: 0.9rem;
            padding: 0.25rem 1rem 0.75rem 1rem;
        }
    }

    .header__margin {
        height: 2rem;
    }
}
