<div class="header__margin"></div>

<div class="header">

  <div class="header__title__wrapper">

    <div class="header__icon">
      <img src="assets/gfx/logo_white_18_22.png" />
    </div>

    <h1 class="header__title">
      MRvanderPants
    </h1>

  </div>

  <div class="header__nav">

    <div
      class="header__nav__item"
      *ngFor="let route of routes"
      [class.active]="route.current"
      (click)="activate(route)">

      <span class="header__nav__item__label">
        {{ route.id }}
      </span>
    </div>

  </div>
</div>
