<div class="header">

  <div class="header__title__wrapper" (click)="activate(routes[0])">

    <div class="header__icon">
      <img src="assets/gfx/logo_black_18_22.png" />
    </div>

    <h1 class="header__title">
      MRvanderPants
    </h1>

  </div>
</div>

<div class="header__nav" [class.opened]="isOpen">

  <div class="header__nav__button" (click)="toggleNav()">
    <i class="header__nav__button__icon material-icons">
      menu
    </i>
  </div>

  <div class="header__nav__wrapper" *ngIf="isOpen">
    <div
      class="header__nav__item"
      *ngFor="let route of routes"
      [class.active]="route.current"
      (click)="activate(route)">

      <span class="header__nav__item__label">
        {{ route.id }}
      </span>
    </div>
  </div>

</div>
