.contact {

    .contact-form {

        background-color: var(--col-white);
        display: flex;
        flex-direction: column;

        -webkit-box-shadow: 0 -0.5rem 1rem 1rem #00000010;
        -moz-box-shadow:    0 -0.5rem 1rem 1rem #00000010;
        box-shadow:         0 -0.5rem 1rem 1rem #00000010;

        .contract__description {
            background-color: var(--col-grey-lightest);
            border-left: 1px solid var(--col-border-light);
            color: var(--col-grey-darker);
            padding: 2rem 1.5rem;
        }

        .contract__input-wrapper {
            
            padding: 0.5rem 1rem 1rem 1rem;

            .contact-form__error {
                background-color: var(--col-danger-light);
                border-left: 0.25rem solid var(--col-danger);
                margin: 1rem 0;
                padding: 0.5rem 1rem;
            }

            .contact-form__input {
                
                display: flex;
                flex-direction: column;
                padding: 0.5rem 0;

                .contact-form__input__text {
                    background-color: var(--col-grey-lighter);
                    border: none;
                    border-left: 0.25rem solid var(--col-blue-lighter);
                    border-radius: 0.25rem;
                    font-size: 1rem;
                    outline: none;
                    padding: 0.75rem 1.5rem;
                    transition: border-left 0.5s;
                }

                .contact-form__input__area {
                    background-color: var(--col-grey-lighter);
                    border: none;
                    border-left: 0.25rem solid var(--col-blue-lighter);
                    border-radius: 0.25rem;
                    font-size: 1rem;
                    height: 6rem;
                    margin-bottom: 0.5rem;
                    outline: none;
                    padding: 0.75rem 1.5rem;
                    resize: none;
                    transition: border-left 0.5s;
                }

                .contact-form__input__text:focus,
                .contact-form__input__area:focus {
                    border-left: 0.25rem solid var(--col-succes);
                }
            }
        }

        .contract__succesMessage {
            border-left: 0.5rem solid var(--col-succes);
            color: var(--col-black);
            padding: 2rem 1.5rem;
        }

        .contact-form__submit {

            align-items: center;
            background-color: var(--col-blue-darker);
            border: none;
            box-shadow: inset 0 1px 0 #6c94ff;
            color: var(--col-white);
            display: flex;
            font-size: 1rem;
            justify-content: center;
            transition: background-color 0.2s;
            padding: 0.75rem 1.5rem;

            .contact-form__submit__icon {
                margin-right: 1rem;
            }
        }

        .contact-form__submit:hover {
            background-color: var(--col-blue-darkest);
            cursor: pointer;
        }

        .disabled,
        .disabled:hover {
            background-color: var(--col-grey-medium);
            box-shadow: inset 0 1px 0 #bdbdbd;
            cursor: default;
            transition: background-color .5s;
        }
    }

    .contact__socials {

        background-color: var(--col-blue-darkest);
        padding-bottom: 1rem;

        .contact__socials__title {
            color: var(--col-white);
            display: flex;
            font-family: var(--font-title), sans-serif;
            padding: 2rem 1rem 1rem 1rem;
        }

        .contact__socials__item {

            align-items: center;
            background-color: var(--col-blue-darker);
            border-radius: 0.25rem;
            color: var(--col-white);
            cursor: pointer;
            display: flex;
            justify-content: center;
            margin: 1rem;
            padding: 0 1rem 0 0.5rem;
            position: relative;
            transition: background-color 0.2s;

            .contact__socials__item__icon {
                height: 2rem;
                width: 2rem;
            }

            .contact__socials__item__label {
                margin: 1rem;
                padding: 0 1rem 0 0.5rem;
            }
        }

        .contact__socials__item:hover {
            background-color: var(--col-blue-darkest);
            cursor: pointer;
        }
    }
}

@media screen and (min-width: 640px) {

    .contact__wrapper {

        display: flex;
        flex-direction: column;

        .contact {

            background: var(--col-blue-desaturated) url('/assets/gfx/scape[1].png');
            background-position: bottom;
            background-repeat: no-repeat;
            background-size: 100% auto;
            display: flex;
            flex-direction: row-reverse;
            height: 16rem;
            justify-content: space-between;
            padding-top: 4rem;
            position: relative;

            -webkit-box-shadow: 0 0 1rem 0.5rem #00000020;
            -moz-box-shadow:    0 0 1rem 0.5rem #00000020;
            box-shadow:         0 0 1rem 0.5rem #00000020;

            .contact-form {

                border-radius: 1rem;
                height: fit-content;
                margin: 0 2rem 2rem 0;
                overflow: hidden;
                padding: 0;
                width: 40%;

                -webkit-box-shadow: 0 0 1rem 0.25rem #00000020;
                -moz-box-shadow:    0 0 1rem 0.25rem #00000020;
                box-shadow:         0 0 1rem 0.25rem #00000020;

                .contract__input-wrapper {

                    .contact-form__input__text {
                        background-color: var(--col-grey-lighter);
                        border: none;
                        border-radius: 0.25rem;
                        font-size: 1rem;
                        padding: 0.75rem 1.5rem;
                    }

                    .contact-form__input__area {
                        background-color: var(--col-grey-lighter);
                        border: none;
                        border-radius: 0.25rem;
                        font-size: 1rem;
                        height: 6rem;
                        padding: 0.75rem 1.5rem;
                        resize: none;
                    }
                }

                .contact-form__submit {
                    padding: 1rem 1.5rem !important;
                }
            }

            .contact__socials {

                background-color: unset;
                margin: 16rem 0 0 2rem;
                width: calc(50% - 1rem);

                .contact__socials__title {
                    color: var(--col-grey-medium);
                    display: block;
                    position: relative;
                    margin-bottom: 2rem;
                }

                .contact__socials__title:after {
                    background-color: var(--col-yellow-medium);
                    bottom: 0.25rem;
                    content: '';
                    display: block;
                    height: 0.25rem;
                    position: absolute;
                    width: 2.5rem;
                }
            }
        }

        .contact__filler {
            flex-grow: 1;
            height: 55vh;
        }
    }
}
