.demo__content {

    // background-color: var(--col-blue-darker);
    border-top: 1rem solid var(--col-white);
    position: relative;
    z-index: 1;

    -webkit-box-shadow: 0 0 1rem 0.5rem #00000020;
    -moz-box-shadow:    0 0 1rem 0.5rem #00000020;
    box-shadow:         0 0 1rem 0.5rem #00000020;

    .demo__content__title {

        background-color: var(--col-white);
        color: var(--col-black);
        font-family: 'Montserrat', sans-serif;
        font-weight: normal;
        padding: 1rem 1rem 2rem 1rem;
    }

    .demo__content__panel {

        padding: 2rem 1rem;

        .demo__content__panel__content {

            .demo__content__panel__title {
                font-family: 'Montserrat', sans-serif;
                font-weight: normal;
                padding-bottom: 1rem;
                position: relative;
            }

            .demo__content__panel__title:after {
                background-color: var(--col-yellow);
                bottom: 0.25rem;
                content: '';
                display: block;
                height: 0.25rem;
                position: absolute;
                width: 2.5rem;
            }

            .demo__content__panel__description {
                padding: 0.5rem 0 1rem 0;
            }
        }
    }
}

@media screen and (min-width: 640px) {

    .demo__content__title {
        background-color: var(--col-grey-lightest) !important;
        margin: auto;
        padding: 2rem 1rem 2rem 1rem !important;
        width: var(--size-page);
    }

    .demo__content__panel {

        margin: auto;
        width: var(--size-page);

        .demo__content__panel__content {
            // width: 50%;
        }
    }
}
