.demo__content {

    padding-bottom: 3rem;
    position: relative;
    z-index: 1;

    -webkit-box-shadow: 0 0 1rem 0.5rem #00000020;
    -moz-box-shadow:    0 0 1rem 0.5rem #00000020;
    box-shadow:         0 0 1rem 0.5rem #00000020;

    .demo__content__title {

        color: var(--col-grey-medium);
        font-family: 'Montserrat', sans-serif;
        font-weight: normal;
        padding: 2rem 1rem 3rem 1rem;
        position: relative;
        width: calc(100% - 2rem);
    }

    .demo__content__title:after {
        background-color: var(--col-yellow);
        bottom: 1.5rem;
        content: '';
        display: block;
        height: 0.25rem;
        position: absolute;
        width: 2.5rem;
    }

    .demo__content__panel {

        padding: 1rem;

        .demo__content__panel__content {

            background-color: var(--col-white);
            border-radius: 1rem;
            border-left: 0.25rem solid var(--col-blue);
            padding: 1rem;
            overflow: hidden;

            -webkit-box-shadow: 0 0.5rem 1rem 0.25rem #00000010;
            -moz-box-shadow:    0 0.5rem 1rem 0.25rem #00000010;
            box-shadow:         0 0.5rem 1rem 0.25rem #00000010;

            .demo__content__panel__title {

                align-items: center;
                color: var(--col-grey-darker);
                display: flex;
                font-family: 'Montserrat', sans-serif;
                font-size: 1rem;
                padding-bottom: 0.5rem;
                position: relative;

                .demo__content__panel__title__icon {
                    color: var(--col-grey-medium);
                    padding-right: 1rem;
                }
            }

            .demo__content__panel__description {
                color: var(--col-grey-medium);
                font-size: 0.9rem;
                padding: 0.5rem 0 1rem 0;
            }
        }
    }
}

@media screen and (min-width: 640px) {

    .demo__content {

        padding-top: 2rem;

        .demo__content__title {
            margin: auto;
            width: var(--size-page) !important;
        }

        .demo__content__panel {

            .demo__content__panel__content {
                margin: auto;
                width: var(--size-page);
            }
        }
    }
}
