.debugger__wrapper {
    
    border-left: 0.25rem solid #9d9dff;
    position: relative;
    width: calc(100% - 0.25rem);

    .debugger__content {
        
        background-image: linear-gradient(#2d2d2d 50%, #303030 50%);
        background-size: 100% 3rem; // 2.1rem
        background-attachment: local;
        border: none;
        border-bottom: 0.25rem solid #9d9dff;
        border-top: 0.5rem solid #9D9DFF;
        color: #efefef;
        font-family: 'Source Code Pro', monospace;
        font-size: 0.833rem;
        height: 20rem;
        line-height: 1.5rem;
        padding: 1.5rem 1rem 1rem 1rem;
        width: calc(100% - 2rem);
    }

    .debugger__submit {

        align-items: center;
        background-color: #9D9DFF;
        bottom: calc(0.25rem - 1px);
        color: #efefef;
        clip-path: polygon(1rem 0, 100% 0, 100% 100%, 0 100%);
        display: flex;
        height: 1.5rem;
        justify-content: center;
        position: absolute;
        right: 0;
        transition: all 0.2s;
        width: 20%;
    }

    .debugger__submit:hover {
        background-color: #efefef;
        color: #2d2d2d;
        cursor: pointer;
    }

    .disabled {
        background-color: #adadad;
        color: #efefef;
    }

    .disabled:hover {
        background-color: #adadad;
        color: #efefef;
    }
}

.debugger__wrapper::after {

    align-items: center;
    background-color: #9D9DFF;
    content: 'Debugger';
    color: #efefef;
    display: flex;
    font-family: 'Open Sans', sans-serif;
    height: 1rem;
    justify-content: center;
    padding: 0.5rem 1rem;
    position: absolute;
    right: 0;
    top: 0;
}

.debugger__wrapper::before {
    
    background-color: #9D9DFF;
    clip-path: polygon(0 0, 2rem 0, 0 2rem);
    content: '';
    color: #efefef;
    font-family: 'Open Sans', sans-serif;
    height: 2rem;
    left: 0;
    position: absolute;
    top: 0;
    width: 2rem;
    z-index: 1;
}
    