<div class="debugger__wrapper">
  <div #area class="debugger__content" #wrapper>
    <div class="debugger__item" *ngFor="let log of lines">
        <i class="debugger__item__item material-icons">arrow_forward_ios</i>
      <span class="debugger__item__time">{{ log.time }}: </span>
      <span class="debugger__item__message">{{ log.logs }}</span>
    </div>
  </div>

  <div class="debugger__submit" (click)="onClear()">
    <i class="material-icons textarea__submit__icon">delete_outline</i>
  </div>
</div>
