.debugger__wrapper {
    
    display: block;
    height: 19.5rem;
    position: relative;
    width: calc(100% - 0.25rem);

    .debugger__content {
        
        background-image: linear-gradient(var(--col-beige-lighter) 50%, var(--col-beige-lightest) 50%);
        background-size: 100% 3rem; // 2.1rem
        background-attachment: local;
        border: none;
        color: var(--col-black);
        font-family: 'Source Code Pro', monospace;
        font-size: 0.833rem;
        height: 17rem;
        line-height: 1.5rem;
        overflow: auto;
        padding: 1.5rem 1rem 1rem 1rem;
        position: absolute;
        width: calc(100% - 2rem);
        z-index: 1;

        .debugger__item {

            align-items: baseline;
            display: flex;
            flex-wrap: wrap;

            .debugger__item__time {
                color: #969696;
            }

            .debugger__item__item {
                
                color: #969696;
                font-size: 0.6rem;
                height: 1rem;
                width: 1rem;
            }

            .debugger__item__message {

                display: block;
                padding-left: 1rem;
                width:  35vw;
            }
        }
    }

    .debugger__submit {

        align-items: center;
        background-color: var(--col-blue);
        border-radius: 3rem;
        color: #efefef;
        display: flex;
        height: 3rem;
        justify-content: center;
        position: absolute;
        right: 1.5rem;
        top: -1.5rem;
        transition: all 0.2s;
        width: 3rem;
        z-index: 999;

        -webkit-box-shadow: 0 0.25rem 1rem 0.25rem #00000033;
        -moz-box-shadow:    0 0.25rem 1rem 0.25rem #00000033;
        box-shadow:         0 0.25rem 1rem 0.25rem #00000033;

        .textarea__submit__icon--animating {
            -webkit-animation:spin 3s linear infinite;
            -moz-animation:spin 3s linear infinite;
            animation:spin 3s linear infinite;
        }
    }

    .debugger__submit:hover {
        background-color: var(--col-blue-darker);
        cursor: pointer;
    }

    .disabled {
        background-color: #adadad;
        color: #efefef;
    }

    .disabled:hover {
        background-color: #adadad;
        color: #efefef;
    }
}
    