@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.textarea__wrapper {

    background-color: var(--ion-white);
    margin-bottom: -0.3rem;
    position: relative;
    width: calc(100% - 0.25rem);

    .textarea {
        
        background-image: linear-gradient(var(--col-grey-lightest) 50%, var(--col-beige-lightest) 50%);
        background-size: 100% 3rem; // 2.1rem
        background-attachment: local;
        border: none;
        color: var(--col-black);
        font-family: 'Source Code Pro', monospace;
        height: 17rem;
        line-height: 1.5rem;
        padding: 1.5rem 1rem 1rem 1rem;
        position: relative;
        resize: none;
        tab-size: 4;
        width: calc(100% - 1.75rem);
        z-index: 1;
    }

    .textarea__submit {

        align-items: center;
        background-color: var(--col-blue);
        border-radius: 3rem;
        color: #efefef;
        display: flex;
        height: 3rem;
        justify-content: center;
        position: absolute;
        right: 1.5rem;
        top: -1.5rem;
        transition: all 0.2s;
        width: 3rem;
        z-index: 999;

        -webkit-box-shadow: 0 0.25rem 1rem 0.25rem #00000033;
        -moz-box-shadow:    0 0.25rem 1rem 0.25rem #00000033;
        box-shadow:         0 0.25rem 1rem 0.25rem #00000033;

        .textarea__submit__icon--animating {
            -webkit-animation:spin 3s linear infinite;
            -moz-animation:spin 3s linear infinite;
            animation:spin 3s linear infinite;
        }
    }

    .textarea__submit:hover {
        background-color: var(--col-blue-darker);
        cursor: pointer;
    }

    .disabled {
        background-color: --col-grey-darker;
        color: --col-grey-lightest;
    }

    .disabled:hover {
        background-color: --col-grey-darker;
        color: --col-grey-lightest;
    }
}
