<section class="resume">

  <section class="resume__hero">
    <h1 class="resume__hero__title">
      <i class="material-icons resume__hero__quote">format_quote</i>
      If you keep your feet firmly on the ground, you'll have trouble putting on your pants
      <i class="material-icons resume__hero__quote">format_quote</i>
    </h1>
  </section>

  <section class="resume__content">

    <a href="/assets/curriculum_vitae_sjoerdvdBroek.pdf" download>
      <div class="resume__content__download">
        <i class="material-icons resume__content__download__icon">list_alt</i>
      </div>
    </a>

    <div class="resume__content__line">
      Hi, I'm Sjoerd,
    </div>

    <div class="resume__content__line">
      I'm a Javascript developer and video game enthousiast from the Netherlands. My main driving factor is to make cool stuff. Whether it's websites, games or music, I'm most happy when I'm busy.
    </div>

  </section>

  <section class="resume__timeline">
    <div class="resume__timeline__wrapper">

      <div class="resume__item" *ngFor="let job of jobs">

        <div class="marker">
          <div class="marker__dot"></div>
          <span class="marker__label">
            {{ job.date_start }}
          </span>
        </div>

        <div class="resume__item__block">

          <div class="resume__item__header">
            
            <h2 class="resume__item__title">
              {{ job.role }}
            </h2>

            <div class="resume__item__details__clients">
              <div class="resume__client" *ngFor="let client of job.clients">

                <i class="material-icons resume__client__icon">
                  location_on
                </i>
                <span class="resume__client__label">
                  {{ client }}
                </span>

              </div>
            </div>

            <div class="resume__item__description">
              {{ job.description }}
            </div>

          </div>

          <div class="resume__item__content">

            <div class="resume__item__details">
        
              
            </div>
        
            <div class="resume__item__chips">
              <div
                class="resume__item__chips__chip"
                *ngFor="let skill of job.skills">
                {{ skill }}
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>

</section>

<app-footer></app-footer>
