.resume {

    .resume__hero {

        align-items: center;
        background: var(--col-blue-darker) url('/assets/gfx/scape[1].png');
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: auto 100%;
        display: flex;
        flex-direction: column;
        height: 20rem;
        justify-content: center;

        .resume__hero__title {

            background-color: #00000050;
            border-radius: 0.5rem;
            color: var(--col-white);
            font-family: 'Montserrat', sans-serif;
            font-size: 1.5rem;
            font-weight: normal;
            margin: 0 2rem;
            padding: 1rem;
            text-align: center;
            text-shadow: 0 0 1rem #000000;

            .resume__hero__quote:last-of-type {

                -moz-transform: scaleX(-1) scaleY(-1);
                -o-transform: scaleX(-1) scaleY(-1);
                -webkit-transform: scaleX(-1) scaleY(-1);
                transform: scaleX(-1) scaleY(-1);
                filter: FlipH FlipV;
                -ms-filter: "FlipH FlipV";
            }
        }
    }

    .resume__content {

        padding: 2rem 1rem;
        position: relative;

        .resume__content__download {
            
            align-items: center;
            background-color: var(--col-blue);
            border-radius: 3rem;
            color: #efefef;
            display: flex;
            height: 3rem;
            justify-content: center;
            position: absolute;
            right: 1.5rem;
            top: -1.5rem;
            transition: all 0.2s;
            width: 3rem;
            z-index: 999;
    
            -webkit-box-shadow: 0 0.25rem 1rem 0.25rem #00000033;
            -moz-box-shadow:    0 0.25rem 1rem 0.25rem #00000033;
            box-shadow:         0 0.25rem 1rem 0.25rem #00000033;
        }

        .resume__content__download:hover {
            background-color: var(--col-blue-darker);
        }

        .resume__content__line {
            color: var(--col-grey-medium);
            padding: 0.5rem 0;
            margin-left: 1rem;
        }

        .resume__content__line:first-of-type {
            color: var(--col-grey-darker);
            margin-left: 0;
        }

        .resume__content__line:first-of-type:after {
            background-color: var(--col-blue);
            content: '';
            display: block;
            height: 0.25rem;
            margin-top: 0.5rem;
            width: 2.5rem;
        }
    }

    .resume__timeline {

        padding-top: 1rem;

        .resume__timeline__wrapper {

            .resume__item {

                border-left: 0.25rem solid var(--col-blue);
                margin-left: 1rem;
                padding: 0 0 1.5rem 1rem;

                .marker {

                    align-items: center;
                    display: flex;
                    margin-left: -1.625rem;
                    position: relative;

                    .marker__dot {
                        background-color: var(--col-blue);
                        border-radius: 1rem;
                        height: 1rem;
                        overflow: hidden;
                        width: 1rem;
                    }

                    .marker__label {
                        color: var(--col-grey-medium);
                        font-size: 0.9rem;
                        padding-left: 1.75rem;
                        position: absolute;
                    }
                }

                .resume__item__block {

                    background-color: var(--col-white);
                    border-radius: 1rem;
                    margin: 1rem 1rem 0 0;
                    overflow: hidden;

                    -webkit-box-shadow: 0 0.5rem 1rem 0.25rem #00000010;
                    -moz-box-shadow:    0 0.5rem 1rem 0.25rem #00000010;
                    box-shadow:         0 0.5rem 1rem 0.25rem #00000010;

                    .resume__item__header {

                        padding: 1rem 1rem 0 1rem;

                        .resume__item__title {

                            font-family: 'Montserrat';
                            font-size: 1rem;
                            font-weight: 400;
                            padding: 0 0 0.5rem 0;
                        }

                        .resume__item__description {
                            color: var(--col-grey-medium);
                            font-size: 0.9rem;
                            padding-bottom: 0.5rem;
                        }

                        .resume__item__details__clients {
                            
                            display: flex;
                            flex-direction: column;
                            font-family: 'Montserrat';
                            font-size: 0.9rem;
                            padding: 0 1rem 1rem 0rem;

                            .resume__client {

                                align-items: center;
                                display: flex;

                                .resume__client__icon {

                                    color: var(--col-grey);
                                    font-size: 1.1rem;
                                    padding-right: 0.5rem;
                                }
                            }
                        }
                    }

                    .resume__item__content {

                        background-color: var(--col-grey-lightest);
                        padding: 0.75rem 1rem 0.5rem 1rem;

                        .resume__item__details {

                            align-items: baseline;
                            display: flex;
                            flex-grow: 1;
                        }

                        .resume__item__chips {

                            display: flex;
                            flex-wrap: wrap;

                            .resume__item__chips__chip {

                                background-color: var(--col-blue);
                                border-radius: 0.25rem;
                                color: var(--col-white);
                                font-size: 0.8rem;
                                margin: 0 0.25rem 0.25rem 0;
                                padding: 0.25rem 1rem;
                            }
                        }
                    }
                }
            }
        }
    }
}


@media screen and (min-width: 640px) {
    
    .resume {

        .resume__hero {

            background-size: 100% auto;
            
            .resume__hero__title {
                width: 50%;
            }
        }

        .resume__content {
            margin: auto;
            padding-bottom: 1rem;
            padding-top: 3rem;
            width: 60%;
        }
    
        .resume__timeline {

            .resume__timeline__wrapper {

                margin: 0 auto;
                padding-top: 3rem;
                width: 60%;

                .resume__item {

                    padding-bottom: 2rem;

                    .resume__item__description {
                        padding-bottom: 1.5rem !important;
                    }

                    .resume__item__content {
                        
                        align-items: baseline;
                        background-color: var(--col-grey-lightest);
                        display: flex;
                        padding: 0 1rem;

                        .resume__item__details {
                            
                            align-items: baseline;
                            display: flex;
                            flex-grow: 1;

                            .resume__item__details__clients {

                                display: flex;
                                flex-direction: column;
                                padding: 0.5rem 1rem 0.5rem 0rem;
                            }
                        }

                        .resume__item__chips {

                            flex-direction: row-reverse;
                            margin: 0 0 0.25rem 0 !important;
                            max-width: 66%;
                        }
                    }

                    .resume__item__block {
                        margin: 1rem 0 0 1rem;
                    }
                }
            }
        }
    }
}