.input-wrapper {
    
    display: flex;
    flex-wrap: wrap;

    app-textarea, app-debug {
        flex-grow: 1;
        min-width: 50%;
    }
}


@media screen and (min-width: 640px) {

    .input-wrapper {
        margin: 4rem auto;
        width: 60%;
    }
}
