<app-game
    [player]="player"
    [enemy]="enemy">
</app-game>

<div class="tabs">
    <div class="tabs-wrapper">
        <div
            class="tabs-wrapper__item"
            [class.active]="!openedTab && !largeScreen"
            (click)="openedTab = false;">
            Code
        </div>

        <div
            class="tabs-wrapper__item"
            [class.active]="openedTab && !largeScreen"
            (click)="openedTab = true;">
            Console
        </div>
    </div>
    <div class="tabs-border"></div>
</div>

<section class="input-wrapper">

    <app-textarea
        [disabled]="disabled"
        (execute)="startGame($event, true)"
        *ngIf="largeScreen || !openedTab">
    </app-textarea>

    <app-debug
        [logs]="logs"
        (clear)="clearLog()"
        *ngIf="largeScreen || openedTab">
    </app-debug>
    
</section>
